*{
  padding: 0;
  margin: 0;
  font-size:"15px";
}
.App{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #191b1f;
  width: 100%;
  height: 100vh;
  direction: rtl;
}
